{% extends "layout.html" %}
  
{% block title %}Project Description: Engineered bacteria to accurately locate pancreatic cancer metastases{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}



<div class="row mt-4">
  <div class="col-lg-8">
    <h1>What are we doing?</h1>
    <hr></hr>
    <p class="desCon">Project Introduction: Pancreatic cancer is known as the "king of cancer" due to its high malignancy and poor prognosis. 
    The current treatment is not effective, and the survival rate has not improved significantly in the past 10 years. 
    Pancreatic cancer is often surrounded by a large number of fibers, and the internal microenvironment is characterized 
    by hypoxia and high lactic acid. Therefore, bacteria with high affinity for this microenvironment are considered to have 
    potential for the treatment of pancreatic cancer. To ensure safety and efficacy, it is necessary to finely regulate the 
    survival of bacteria so that they can colonize tumors specifically before being eliminated by the immune system. 
    In addition, precision radiotherapy can significantly reduce the damage to normal tissues and improve the survival 
    rate of patients. However, the high cost of PET/CT examination is often difficult for patients to accept. 
    In summary, our team planned to construct a and gate system in E. coli to improve the targeting of pancreatic cancer. 
    At the same time, it was transferred to an acoustic reporting system to generate ultrasound detectable vesicles to track 
    the metastasis of pancreatic cancer, and combined with precision radiotherapy for pancreatic cancer.
    </p>
    
  </div>
  <div class="col-lg-4">
    <h1>Note</h1>
    <hr></hr>
    <p class="desCon">
      <font color="red"><strong>This is a draft version of our project's description</strong></font> . 
    </p>
  </div>
  
</div>


{% endblock %}
