.imgContainer{
    background-image: url(https://static.igem.wiki/teams/4713/wiki/logo.jpg);
    background-size: 10%;
    display: block;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;


    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
}
.desCon{
    display: block;
    font-size: larger;
}