.imgContainer{
    background-size: 50%;
    display: block;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;


    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
}
.desCon{
    display: block;
    font-size: larger;
}